<html>
<body>
    <form action="/produtos/salva" method="POST">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" name="titulo" placeholder="Coloque o Titulo" />
        </div>
        <div>
            <label for="descricao">Descricao</label>
            <textarea cols="20" rows="10" type="text" id="descricao" name="descricao" placeholder="Descrição"></textarea>
        </div>
        <div>
            <label for="preco">Preco</label>
            <input type="preco" id="preco" name="preco" placeholder="0.00">
        </div>
        <input type="submit" value="Gravar" />
    </form>
</body>
</html>